backports.shutil-get-terminal-size==1.0.0
blinker==1.4
boto==2.40.0
chardet==2.3.0
click==6.7
cryptography==1.7.1
cycler==0.10.0
decorator==4.0.11
enum34==1.1.6
Flask==0.12.2
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.2
functools32==3.2.3.post2
idna==2.2
ipaddress==1.0.17
ipython==5.1.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.9.6
keyring==10.3.1
keyrings.alt==2.2
lockfile==0.12.2
MarkupSafe==1.0
matplotlib==2.0.0
ndg-httpsclient==0.4.2
numpy==1.12.1
pathlib2==2.1.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.0.0
prompt-toolkit==1.0.9
psycopg2==2.7.1
ptyprocess==0.5.1
pyasn1==0.1.9
pycrypto==2.6.1
Pygments==2.7.4
pyOpenSSL==16.2.0
pyparsing==2.1.10
python-cloudfiles==1.7.10
python-dateutil==2.5.3
pytz==2014.10
pyxdg==0.25
requests==2.10.0
SecretStorage==2.3.1
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.11
subprocess32==3.2.7
traitlets==4.3.1
unicodedata
urllib3==1.15.1
wcwidth==0.1.7
Werkzeug==0.12.2
detectlanguage
