{% extends "layout.html" %}
{% block title %}Welcome!{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1 class="title">Phone a friend!</h1>
  <div class="link-container">
    <a class="button" href="/new">Add volunteer</a>
    <a class="button" href="/volunteers/all">View all volunteers</a>
  </div>
  {% if languages %}
    <div class="lang-card">
      <h2>Current Languages</h2>
      {% for language in languages %}
        <p>{{ language.language }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
