{% extends "layout.html" %}
{% block title %}Add translator{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Add translator</h1>
  <form>
    <div class="form-group">
      <label for="first-name">First Name
        <input type="text" id="first-name" name="first_name">
      </label>
    </div>
    <div class="form-group">
      <label for="first-name">Last Name
        <input type="text" id="last-name" name="last_name">
      </label>
    </div>
    <div class="form-group">
      <label for="first-name">Phone
        <input type="text" id="phone" name="phone">
      </label>
    </div>
    <div class="form-group">
      <label for="first-name">Language
        <select>
          {% for language in languages %}
            <option id="languages" value={{ language }}>{{language.language}}</option>
          {% endfor %}
        </select>
      </label>
    </div>
    <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
