{% extends "layout.html" %}
{% block title %}Welcome!{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

  {% if volunteer.photo %}<img src="{{ volunteer.photo }}" id="photo">{% endif %}
  <h1>{{ volunteer.first_name }} {{ volunteer.last_name }}</h1>
  <div class="link-container">
    Phone: {{ volunteer.phone }}
  <div class="profile-card">
    <h2>{{ volunteer.first_name }} {{ volunteer.last_name }}</h2>
    <div>
      Phone: {{ volunteer.phone }}
    </div>
    <div>
      Languages:
      {% for language in volunteer.languages %}
        {{ language.language }}
      {% endfor %}
    </div>
  </div>

{% endblock %}
